<div class="container">
    <div class="row">
        <div class="col-lg-9 offset-lg-2 text-center">
            <div class="hero-text">
                <div class="hero-text-tablecell">
                    <p class="subtitle">Thực phẩm xanh và sạch</p>
                    <h1>Trái cây ngon mỗi mùa</h1>
                    <div class="hero-btns">
                        <a routerLink="/shop" class="boxed-btn">Sản phẩm</a>
                        <a routerLink="/contact" class="bordered-btn">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>