.user:hover .user-menu {
    display: block;
}

.user-menu {
    position: absolute;
    min-width: 220px;
    top: 45px;
    left: 12px;
    right: 0;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
}

.user-menu p {
    margin: 0;
    text-align: start;
}

.user-menu .menu-title {
    font-size: 1.1rem;
    font-weight: 600;
    background-image: linear-gradient(-225deg,
            #231557 0%,
            #44107a 29%,
            #ff1361 67%,
            #fff800 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    margin-bottom: 5px;
}

.user-menu .menu-item {
    font-size: 0.9rem;
    font-weight: bolder;
    margin: 5px 0;
}

.menu-btns button {
    font-size: 0.9rem;
}


@keyframes textclip {
    to {
        background-position: 200% center;
    }
}