<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-box about-widget">
                    <h2 class="widget-title">Về chúng tôi</h2>
                    <p>
                        VinFruits mong rằng sự chân thành và thấu hiểu nhu cầu khách hàng
                        sẽ mang đến cho Quý khách những loại trái cây tươi ngon và chất lượng hạng
                        nhất đạt tiêu chuẩn 3C: CHUẨN TƯƠI – CHUẨN NGON – CHUẨN SẠCH.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box get-in-touch">
                    <h2 class="widget-title">Địa chỉ cửa hàng</h2>
                    <ul>
                        <li>21/02 Hoàng Việt, Quận Tân Bình, TPHCM</li>
                        <li>support@kfruit.com</li>
                        <li>+00 111 222 3333</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box pages">
                    <h2 class="widget-title">Trang</h2>
                    <ul>
                        <li><a routerLink="/">Trang chủ</a></li>
                        <li><a routerLink="/about">Về chúng tôi</a></li>
                        <li><a routerLink="/shop">Cửa hàng</a></li>
                        <li><a routerLink="/contact">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-box subscribe">
                    <h2 class="widget-title">Theo dõi chúng tôi</h2>
                    <p>Hãy để lại email cho chúng tôi để thường xuyên nhận được khuyến mãi từ cửa hàng nhé.</p>
                    <form action="index.html">
                        <input type="email" placeholder="Email">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>