<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Thực phẩm xanh và sạch</p>
                    <h1>Giỏ hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div *ngIf="cart.length > 0" class="cart-section mt-5 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Hình ảnh</th>
                                <th class="product-name">Sản phẩm</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-total">Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of cart; let i = index" class="table-body-row">
                                <td class="product-remove"><a (click)="handleRemoveItemToCart(i)"><i
                                            class="far fa-window-close"></i></a></td>
                                <td class="product-image"><img src="{{item.product.image}}" alt="Hình ảnh"></td>
                                <td class="product-name">{{item.product.name}}</td>
                                <td class="product-price">{{item.product.price | currency: "VND"}}</td>
                                <td class="product-quantity">
                                    <input class="text-center" type="number" value="{{item.quantity}}"
                                        (input)="onchangeQuantity($event, i)" min="1" max="100"
                                        onKeyPress="if(this.value.length==4) return false;" />
                                </td>
                                <td class="product-total">{{item.product.price * item.quantity | currency: "VND"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Chi phí</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Tạm tính: </strong></td>
                                <td>{{totalSumary.subTotal | currency: "VND"}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Vận chuyển: </strong></td>
                                <td>{{totalSumary.shippingCost | currency: "VND"}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Giảm giá: </strong></td>
                                <td>{{totalSumary.discount | currency: "VND"}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Tổng: </strong></td>
                                <td>{{totalSumary.total | currency: "VND"}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="cart-buttons">
                        <a (click)="onUpdateCart()" class="boxed-btn">Cập nhật</a>
                        <a (click)="onToCheckOut(cart)" class="boxed-btn black">Đặt hàng</a>
                    </div>
                </div>

                <div class="coupon-section">
                    <h3>Mã giảm giá</h3>
                    <div class="coupon-form-wrap">
                        <!-- <p><input type="text" placeholder="Nhập mã giảm giá" #voucher></p>
                        <a class="boxed-btn" (click)="onApplyVoucher(voucher.value)">Áp dụng</a> -->
                        <div class="card">
                            <div class="card-body">
                                <div class="row align-items-center">
                                    <div class="col-7">
                                        <div class="row align-items-center">
                                            <div class="col-3">
                                                <img class="voucher-image" src="assets/img/voucher.jfif" alt="">
                                            </div>
                                            <div class="col-9">
                                                <h5 class="card-title">Giảm {{voucher.discount | currency:
                                                    'VND'}}</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-5 d-flex justify-content-end align-items-center">
                                        <i nz-popover nzPopoverPlacement="leftTop" [nzPopoverContent]="infoVoucher"
                                            class="bi bi-info-circle" style="color: blue; font-size: medium;"></i>
                                        <button *ngIf="selectedVoucher !== voucher.code"
                                            (click)="onApplyVoucher(voucher.code)" class="btn btn-primary ml-3">Áp
                                            dụng</button>
                                        <button *ngIf="selectedVoucher === voucher.code"
                                            (click)="onCancelApplyVoucher()" class="btn btn-primary ml-3">Bỏ
                                            chọn</button>
                                    </div>
                                    <ng-template #infoVoucher>
                                        <div style="width: 350px;">
                                            <div class="container">
                                                <div class="row py-2" style="background-color: #f1f5f9;">
                                                    <div class="col-5">
                                                        <span style="color: #aaa;"><strong>Mã:</strong></span>
                                                    </div>
                                                    <div class="col-7">
                                                        <span><strong>{{voucher.code}}</strong></span>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-5">
                                                        <span style="color: #aaa;">Giảm giá:</span>
                                                    </div>
                                                    <div class="col-7">
                                                        <span>{{voucher.discount | currency: 'VND'}}</span>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-5">
                                                        <span style="color: #aaa;">Số lượng:</span>
                                                    </div>
                                                    <div class="col-7">
                                                        <span>{{voucher.quantity}} còn lại</span>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-5">
                                                        <span style="color: #aaa;">Hạn sử dụng:</span>
                                                    </div>
                                                    <div class="col-7">
                                                        <span style="color: green;">Đến
                                                            {{voucher.expired_date | date: 'dd-MM-yyyy'}}</span>
                                                    </div>
                                                </div>
                                                <div class="row py-2">
                                                    <div class="col-5">
                                                        <span style="color: #aaa;">Mô tả:</span>
                                                    </div>
                                                    <div class="col-7">
                                                        <span>{{voucher.description}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                        <div class="mt-2">
                            <a style="font-size: 1.2rem; color: #F28123;">
                                <i class="bi bi-gift"></i>
                                <span (click)="onChangeModalVoucher()" class="ml-2">Chọn hoặc nhập khuyến mãi
                                    khác</span>
                            </a>
                        </div>
                    </div>
                    <nz-modal [(nzVisible)]="isVisibleModalVoucher" nzTitle="Khuyến mãi của bạn"
                        (nzOnCancel)="onChangeModalVoucher()" [nzCancelText]="null" [nzOkText]="null"
                        [nzAutofocus]="null">
                        <ng-container *nzModalContent>
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="input-group pl-0 col-10">
                                        <div class="input-group-prepend">
                                            <span style="color: #2563eb;" class="input-group-text" id="basic-addon1"><i
                                                    class="bi bi-gift"></i></span>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Nhập mã khuyến mãi"
                                            [(ngModel)]="inputCode">
                                    </div>
                                    <div class="col-2 px-0">
                                        <button [disabled]="inputCode.length > 0 ? false : true"
                                            (click)="onApplyVoucher(inputCode)" class="btn btn-primary">Áp
                                            dụng</button>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <h3 style="font-size: 1.2rem;">Mã giảm giá</h3>
                                    <div class="coupon-form-wrap nz-modal-content-custom">
                                        <div *ngFor="let voucher of vouchers" class="card mb-3">
                                            <div class="card-body">
                                                <div class="row align-items-center">
                                                    <div class="col-7">
                                                        <div class="row align-items-center">
                                                            <div class="col-3">
                                                                <img src="assets/img/voucher.jfif" alt="">
                                                            </div>
                                                            <div class="col-9">
                                                                <h5 class="card-title">Giảm {{voucher.discount |
                                                                    currency:
                                                                    'VND'}}</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-5 d-flex justify-content-end align-items-center">
                                                        <i nz-popover nzPopoverPlacement="leftTop"
                                                            [nzPopoverContent]="infoVoucher" class="bi bi-info-circle"
                                                            style="color: blue; font-size: medium;"></i>
                                                        <div>
                                                            <button *ngIf="selectedVoucher !== voucher.code"
                                                                (click)="onApplyVoucher(voucher.code)"
                                                                class="btn btn-primary ml-3">Áp dụng</button>
                                                            <button *ngIf="selectedVoucher === voucher.code"
                                                                (click)="onCancelApplyVoucher()"
                                                                class="btn btn-primary ml-3">Bỏ chọn</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ng-template #infoVoucher>
                                                <div style="width: 350px;">
                                                    <div class="container">
                                                        <div class="row py-2" style="background-color: #f1f5f9;">
                                                            <div class="col-5">
                                                                <span style="color: #aaa;"><strong>Mã:</strong></span>
                                                            </div>
                                                            <div class="col-7">
                                                                <span><strong>{{voucher.code}}</strong></span>
                                                            </div>
                                                        </div>
                                                        <div class="row py-2">
                                                            <div class="col-5">
                                                                <span style="color: #aaa;">Giảm giá:</span>
                                                            </div>
                                                            <div class="col-7">
                                                                <span>{{voucher.discount | currency: 'VND'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row py-2">
                                                            <div class="col-5">
                                                                <span style="color: #aaa;">Số lượng:</span>
                                                            </div>
                                                            <div class="col-7">
                                                                <span>{{voucher.quantity}} còn lại</span>
                                                            </div>
                                                        </div>
                                                        <div class="row py-2">
                                                            <div class="col-5">
                                                                <span style="color: #aaa;">Hạn sử dụng:</span>
                                                            </div>
                                                            <div class="col-7">
                                                                <span style="color: green;">Đến
                                                                    {{voucher.expired_date | date: 'dd-MM-yyyy'}}</span>
                                                            </div>
                                                        </div>
                                                        <div class="row py-2">
                                                            <div class="col-5">
                                                                <span style="color: #aaa;">Mô tả:</span>
                                                            </div>
                                                            <div class="col-7">
                                                                <span>{{voucher.description}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </nz-modal>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cart.length === 0" class="full-height-section error-section">
    <div class="full-height-tablecell">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="error-text">
                        <img class="far fa-sad-cry" src="../../../assets/img/empty-cart.png" />
                        <h1>Oops! Giỏ hàng đang trống</h1>
                        <p>Hãy ghé cửa hàng để lựa chọn sản phẩm với nhiều ưu đãi hấp dẫn bạn nhé</p>
                        <a routerLink="/shop" class="boxed-btn">Đến cửa hàng</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>