<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Thực phẩm xanh và sạch</p>
                    <h1>Giỏ hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- cart -->
<div class="cart-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="cart-table-wrap">
                    <table class="cart-table">
                        <thead class="cart-table-head">
                            <tr class="table-head-row">
                                <th class="product-remove"></th>
                                <th class="product-image">Ảnh sản phẩm</th>
                                <th class="product-name">Tên</th>
                                <th class="product-price">Giá</th>
                                <th class="product-quantity">Số lượng</th>
                                <th class="product-total">Tổng tiền</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-body-row" *ngFor="let item of productList; let indextItem = index">
                                <td class="product-remove" (click)="removeItemCart(item._id)"><i
                                        class="far fa-window-close"></i></td>
                                <td class="product-image"><img src="{{item.image}}" alt=""></td>
                                <td class="product-name">{{item.name}}</td>
                                <td class="product-price">{{item.price | currency: 'VND'}}</td>
                                <td class="product-quantity">
                                    <button class="btn" (click)="handleQuantity('min', indextItem)">-</button>
                                    <input class="text-center" type="number" disabled value="{{item.cartQuantity}}">
                                    <button class="btn" (click)="handleQuantity('plus', indextItem)">+</button>
                                </td>
                                <td class="product-total">{{item.cartQuantity * item.price | currency: 'VND'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="total-section">
                    <table class="total-table">
                        <thead class="total-table-head">
                            <tr class="table-total-row">
                                <th>Chi tiết thanh toán</th>
                                <th>Giá</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="total-data">
                                <td><strong>Tổng tiền hàng: </strong></td>
                                <td>{{totalSumary.subTotal | currency: 'VND'}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Phí vận chuyển: </strong></td>
                                <td>{{totalSumary.shipCost | currency: 'VND'}}</td>
                            </tr>
                            <tr class="total-data">
                                <td><strong>Tổng thanh toán: </strong></td>
                                <td>{{totalSumary.total | currency: 'VND'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="coupon-section">
                    <h3>Thông tin giao hàng</h3>
                    <div class="coupon-form-wrap">
                        <form [formGroup]="deliveryForm" (ngSubmit)="checkOut()">
                            <p><input type="text" placeholder="Tên của bạn" formControlName="fullname" minlength="3"
                                    maxlength="80"></p>
                            <p><input type="text" placeholder="Số điện thoại" formControlName="phoneNumber"></p>
                            <div *ngIf="deliveryForm.controls['phoneNumber'].errors && isCheckError">
                                <span style="color: red;">Số điện thoại không hợp lệ</span>
                            </div>
                            <p><input type="text" placeholder="Địa chỉ" formControlName="address"></p>
                            <div *ngIf="deliveryForm.controls['address'].errors && isCheckError">
                                <span style="color: red;">Địa chỉ tối thiểu 10 ký tự</span>
                            </div>
                            <p><input type="text" placeholder="Ghi chú thêm..." formControlName="note"></p>
                            <p class="mb-2"><strong>Phương thức thanh toán:</strong></p>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="inlineRadio1"
                                    formControlName="status" value="Thanh toán tại nhà">
                                <label class="form-check-label" for="inlineRadio1">Thanh toán tại nhà</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="status" id="inlineRadio2"
                                    formControlName="status" value="Thanh toán qua điện tử">
                                <label class="form-check-label" for="inlineRadio2">Thanh toán qua điện tử</label>
                            </div>
                            <div *ngIf="deliveryForm.controls['status'].errors && isCheckError">
                                <span style="color: red;">Vui lòng chọn phương thức thanh toán</span>
                            </div>
                            <div class="text-center mt-3">
                                <button type="submit" class="btn btn-primary btn-lg">Đặt hàng</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>