<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Thực phẩm xanh và sạch</p>
                    <h1>Đặt hàng</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="checkout-section mt-5 mb-150">
    <form [formGroup]="checkoutForm" (ngSubmit)="handleCheckOut()">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="checkout-accordion-wrap">
                        <div class="accordion" id="accordionExample">
                            <div class="card single-accordion">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                            Địa chỉ giao hàng
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="billing-address-form">
                                            <p class="mt-3"><input type="text" placeholder="Tên người nhận"
                                                    formControlName="name"></p>
                                            <div *ngIf="checkoutForm.controls['name'].errors && isCheckError">
                                                <span style="color: red;">Tên phải có tối thiểu 5 ký tự</span>
                                            </div>
                                            <p class="mt-3"><input type="text" placeholder="Địa chỉ giao hàng"
                                                    formControlName="address"></p>
                                            <div *ngIf="checkoutForm.controls['address'].errors && isCheckError">
                                                <span style="color: red;">Địa chỉ giao hàng tối thiểu phải 5 ký
                                                    tự</span>
                                            </div>
                                            <p class="mt-3"><input type="tel" placeholder="Số điện thoại"
                                                    formControlName="phone"></p>
                                            <div *ngIf="checkoutForm.controls['phone'].errors && isCheckError">
                                                <span style="color: red;">Số điện thoại không đúng định dạng</span>
                                            </div>
                                            <p class="mt-3"><textarea name="bill" id="bill" cols="30" rows="10"
                                                    placeholder="Ghi chú thêm..." formControlName="note"></textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card single-accordion">
                                <div class="card-header" id="headingThree">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                            data-target="#collapseThree" aria-expanded="false"
                                            aria-controls="collapseThree">
                                            Phương thức thanh toán
                                        </button>
                                    </h5>
                                </div>

                                <div class="ml-3" *ngIf="checkoutForm.controls['paymentMethod'].errors && isCheckError">
                                    <span style="color: red;">Vui lòng chọn phương thức thanh
                                        toán</span>
                                </div>
                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                    data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="card-details">
                                            <div class="form-check d-flex align-items-center">
                                                <input value="Thanh toán khi nhận hàng" class="form-check-input"
                                                    type="radio" name="paymentMethod" id="flexRadioDefault1"
                                                    formControlName="paymentMethod">
                                                <div class="row align-items-center ml-1 w-100">
                                                    <div class="px-0">
                                                        <img src="assets/img/cash-on-delivery.png" width="30px" alt="">
                                                    </div>
                                                    <div class=" px-0">
                                                        <label class="form-check-label ml-2" for="flexRadioDefault2">
                                                            Thanh toán khi nhận hàng
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check d-flex align-items-center mt-3">
                                                <input class="form-check-input" value="Thanh toán bằng ví Momo"
                                                    type="radio" id=" flexRadioDefault2" formControlName="paymentMethod"
                                                    name="paymentMethod">
                                                <div class="row align-items-center ml-1 w-100">
                                                    <div class="px-0">
                                                        <img src="assets/img/MoMo.png" width="25px" alt="">
                                                    </div>
                                                    <div class=" px-0">
                                                        <label class="form-check-label ml-2" for="flexRadioDefault2">
                                                            Thanh toán bằng ví Momo
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-check d-flex align-items-center mt-3">
                                                <input class="form-check-input" value="Thanh toán qua ngân hàng"
                                                    type="radio" id=" flexRadioDefault2" name="paymentMethod" disabled>
                                                <div class="row align-items-center ml-1 w-100">
                                                    <div class="px-0">
                                                        <img src="assets/img/banking.png" width="30px" alt="">
                                                    </div>
                                                    <div class=" px-0">
                                                        <label class="form-check-label ml-2" for="flexRadioDefault2">
                                                            Thanh toán qua ngân hàng (Bảo trì)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="order-details-wrap">
                        <table class="order-details">
                            <thead>
                                <tr>
                                    <th>Chi tiết đơn hàng</th>
                                    <th>Giá</th>
                                </tr>
                            </thead>
                            <tbody class="order-details-body">
                                <tr *ngFor="let item of cart">
                                    <td>{{item.product.name}}</td>
                                    <td>{{item.product.price * item.quantity | currency: "VND"}}</td>
                                </tr>
                            </tbody>
                            <tbody class="checkout-details">
                                <tr>
                                    <td>Tạm tính</td>
                                    <td>{{totalSumary.subTotal | currency: "VND"}}</td>
                                </tr>
                                <tr>
                                    <td>Vận chuyển</td>
                                    <td>{{totalSumary.shippingCost | currency: "VND"}}</td>
                                </tr>
                                <tr>
                                    <td>Giảm giá</td>
                                    <td>{{totalSumary.discount | currency: "VND"}}</td>
                                </tr>
                                <tr>
                                    <td>Tổng tiền</td>
                                    <td>{{totalSumary.total | currency: "VND"}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="ml-5 mt-3">
                            <button type="submit" class="boxed-btn">Đặt hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>