<div class="hero-area hero-bg">
    <app-banner></app-banner>
</div>

<div class="list-section pt-80 pb-80">
    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-shipping-fast"></i>
                    </div>
                    <div class="content">
                        <h3>Miễn phí ship</h3>
                        <p>Đơn hàng trên 200k</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                <div class="list-box d-flex align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-phone-volume"></i>
                    </div>
                    <div class="content">
                        <h3>Hỗ trợ 20/24</h3>
                        <p>Tất cả các ngày trong tuần</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="list-box d-flex justify-content-start align-items-center">
                    <div class="list-icon">
                        <i class="fas fa-sync"></i>
                    </div>
                    <div class="content">
                        <h3>Đổi trả</h3>
                        <p>Hỗ trợ đổi trả khi sản phẩm gặp lỗi</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="product-section mt-150">
    <app-product></app-product>
</div>